@charset "utf-8";
/* CSS Document */

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 800;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}